.main {
  width: 100dvw;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: row;
}
.main .leftcontent {
  width: 60%;
  height: 100%;
  position: relative;
}
.main .leftcontent span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px 20px;
  border-radius: 20px;
}
.main .startpages {
  width: 40%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px 0 0 15px;
}
.main .startpages .content {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .startpages .content .logo {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .startpages .content .logo img {
  width: 100%;
  height: 100%;
}
.main .startpages .content .function {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main .startpages .content .function .btn {
  width: 60%;
  padding: 20rpx 0;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
}
.main .startpages .content .function .btn:first-child {
  margin-bottom: 20px;
  background-color: #2e7cee;
  color: white;
}
.main .startpages .content .function .btn:last-child {
  color: #2e7cee;
  border: 1px solid #2e7cee;
}
